<<<<<<< HEAD
label{
    background-color: black
}
=======
button{
backgroud: red;
}

input{
    font: 400;
    background-color: azure;
}
div{
    background:white;
}
.divcss{
    background: rgb(248, 239, 239);
    font:black
}
>>>>>>> 0f0760ed900011f81092f5aadb14528fac710989
