<<<<<<< HEAD
label{
    background-color: black
}
=======
button{
backgroud: red;
}

input{
    font: 400;
    background-color: azure;
}
div{
    background:bulue;
}
>>>>>>> 0f0760ed900011f81092f5aadb14528fac710989
